@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #66bb6a;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header h2 {
  background-color: #66BB6A;
  display: inline-block;
  width: 30%;
  color: #ffffff;
  font-family: "Sansita Swashed", system-ui;
}
header nav {
  display: inline-block;
  width: 40%;
  text-align: end;
}
header nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #f1f8e9;
  font-family: "Roboto", sans-serif;
}

.background {
  height: 70vh;
  background-image: url("./assets/backgroundArvore.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding-top: 180px;
}
.background h1 {
  font-size: 5rem;
  margin-bottom: 30px;
  font-family: "Sansita Swashed", system-ui;
  display: flex;
  justify-content: center;
}
.background p {
  font-size: 1.5rem;
  width: 50%;
  margin-bottom: 50px;
  margin-left: 450px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}
.background button {
  background-color: #66bb6a;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1.45rem;
}

.cards {
  background-color: #f1f8e9;
  text-align: center;
  height: 55vh;
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: #ffffff;
  width: 20vw;
  height: 50vh;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgb(0, 0, 0.1);
  border-radius: 50px;
}
.card img {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}
.card h3 {
  margin-top: 10px;
  font-size: 1.75rem;
  font-family: "Bad Script", cursive;
}
.card p {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.card button {
  margin-top: 30px;
  padding: 10px;
  background-color: #66bb6a;
  color: #ffffff;
  border: none;
  font-size: 1.25rem;
  border-radius: 20px;
}

.card {
  background-color: #f7f7f7;
  width: 20vw;
  height: 50vh;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgb(0, 0, 0.1);
  border-radius: 50px;
}
.card img {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}
.card h3 {
  margin-top: 10px;
  font-size: 1.75rem;
  font-family: "Bad Script", cursive;
}
.card p {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.card button {
  margin-top: 30px;
  padding: 10px;
  background-color: #66bb6a;
  color: #ffffff;
  border: none;
  font-size: 1.25rem;
  border-radius: 20px;
}

.card {
  background-color: #ffffff;
  width: 20vw;
  height: 50vh;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgb(0, 0, 0.1);
  border-radius: 50px;
}
.card img {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}
.card h3 {
  margin-top: 10px;
  font-size: 1.75rem;
  font-family: "Bad Script", cursive;
}
.card p {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.card button {
  margin-top: 30px;
  padding: 10px;
  background-color: #66bb6a;
  color: #ffffff;
  border: none;
  font-size: 1.25rem;
  border-radius: 20px;
}

.card {
  background-color: #ffffff;
  width: 20vw;
  height: 50vh;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgb(0, 0, 0.1);
  border-radius: 50px;
}
.card img {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}
.card h3 {
  margin-top: 10px;
  font-size: 1.75rem;
  font-family: "Bad Script", cursive;
}
.card p {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.card button {
  margin-top: 30px;
  padding: 10px;
  background-color: #66bb6a;
  color: #ffffff;
  border: none;
  font-size: 1.25rem;
  border-radius: 20px;
}

.formulário {
  background-color: #E8F5E9;
  text-align: center;
  padding: 1%;
}
.formulário h2 {
  font-family: "Roboto", sans-serif;
  color: #2A2A2A;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.formulário p {
  color: #767676;
  font-family: "Roboto", sans-serif;
  padding: 1%;
  font-size: 1.25rem;
}
.formulário .input {
  display: flex;
  align-items: center;
  height: 300px;
}
.formulário button {
  background-color: #66bb6a;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
}

footer {
  text-align: center;
  height: 10vh;
  background-color: #66bb6a;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  padding-top: 25px;
}/*# sourceMappingURL=style.css.map */