*{
    margin: 0; //remove o espaço externo padrão
    padding: 0; //remove o preenchimento padrão
    box-sizing: border-box; //respeitar as medidas q eu especificar
}


header{
    background-color: #66bb6a;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    //padding-left: 70px; //move internamente da esquerda para a direita
    //padding-top: 50px; //move internamente de cima para baixo

    //padding-right: 50px; //move internamente da direita para a esquerda
    //padding-bottom: 50px; //move internamente de baixo para cima

    //margin-top: 50px; //move todo o elemento de cima para baixo
    //margin-left: 40px; //move todo o elemento da esquerda para a direita

    //margin-right: 40px; movo todo o elemento da direita para a esquerda
    //margin-bottom:  40px; //Move todo o elemento de baixo para cima

    h2{
        background-color: #66BB6A;
       // display: block; //Ocupa toda a linha (horizontal/largura) independente do tamanho do elemento, comportamento de <div>,<h1>,<p>...
       // display: inline; //Ocupa somente o espaço do elemento, comportamento da tag <a> e <span>
       display: inline-block; //Deixa na mesma linha e permite o controle de larguras e alturas. <---- +importante, vamos utilizar apenas esse
       width: 30%;
       color: #ffffff;
       font-family: "Sansita Swashed", system-ui;
    }

    nav{
       //background-color: #f4f3ee;
       display: inline-block;
       width: 40%;
       text-align: end;

    a {
        margin-right: 20px;
        text-decoration: none; //tira a estilização padrão da tag <a>
        color:#f1f8e9;
        font-family: "Roboto", sans-serif;
    }

    }  
} 

.background {
    height: 70vh;
    background-image: url("./assets/backgroundArvore.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding-top: 180px;


    h1 {
        font-size: 5rem;
        margin-bottom: 30px;
        font-family: "Sansita Swashed", system-ui;
        display: flex;
        justify-content: center;
    }

    p {
        font-size: 1.5rem;
        width: 50%;
        margin-bottom: 50px;
        margin-left: 450px;
        font-family: "Roboto", sans-serif;
        display: flex;
        justify-content: center;
    }

    button {
        background-color: #66bb6a;
        color: #ffffff;
        border: none;
        padding: 15px 30px;
        border-radius: 30px;
        font-size: 1.45rem;

    }
}

.cards {
    background-color: #f1f8e9;
    text-align: center;
    height: 55vh;
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #ffffff;
    width: 20vw;
    height: 50vh;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgb(0, 0, 0.1);
    border-radius: 50px;

    img{
        width: 100%;
        border-radius: 50px 50px 0px 0px;
    }

    h3 {
        margin-top: 10px;
        font-size: 1.75rem;
        font-family: "Bad Script", cursive;
    }

    p {
        margin-top: 20px;
        font-family: "Roboto", sans-serif;
    }

    button {
        margin-top:30px;
        padding: 10px;
        background-color: #66bb6a;
        color: #ffffff;
        border: none;
        font-size: 1.25rem;
        border-radius: 20px;
}
}

.card {
    background-color: #f7f7f7;
    width: 20vw;
    height: 50vh;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgb(0, 0, 0.1);
    border-radius: 50px;

    img{
        width: 100%;
        border-radius: 50px 50px 0px 0px;
    }

    h3 {
        margin-top: 10px;
        font-size: 1.75rem;
        font-family: "Bad Script", cursive;
    }

    p {
        margin-top: 20px;
        font-family: "Roboto", sans-serif;
    }

    button {
        margin-top:30px;
        padding: 10px;
        background-color: #66bb6a;
        color: #ffffff;
        border: none;
        font-size: 1.25rem;
        border-radius: 20px;
    }
}

.card {
    background-color: #ffffff;
    width: 20vw;
    height: 50vh;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgb(0, 0, 0.1);
    border-radius: 50px;

    img{
        width: 100%;
        border-radius: 50px 50px 0px 0px;
    }

    h3 {
        margin-top: 10px;
        font-size: 1.75rem;
        font-family: "Bad Script", cursive;
    }

    p {
        margin-top: 20px;
        font-family: "Roboto", sans-serif;
    }

    button {
        margin-top:30px;
        padding: 10px;
        background-color: #66bb6a;
        color: #ffffff;
        border: none;
        font-size: 1.25rem;
        border-radius: 20px;
    }
}

.card {
    background-color: #ffffff;
    width: 20vw;
    height: 50vh;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgb(0, 0, 0.1);
    border-radius: 50px;

    img{
        width: 100%;
        border-radius: 50px 50px 0px 0px;
    }

    h3 {
        margin-top: 10px;
        font-size: 1.75rem;
        font-family: "Bad Script", cursive;
    }

    p {
        margin-top: 20px;
        font-family: "Roboto", sans-serif;
    }

    button {
        margin-top:30px;
        padding: 10px;
        background-color: #66bb6a;
        color: #ffffff;
        border: none;
        font-size: 1.25rem;
        border-radius: 20px;
    }
}

.formulário {
    background-color: #E8F5E9;
    text-align: center;
    padding: 1%;

    h2 {
        font-family: "Roboto", sans-serif;
        color: #2A2A2A;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    p {
        color: #767676;
        font-family: "Roboto", sans-serif;
        padding: 1%;
        font-size: 1.25rem;
    }
    
    .input {
        display: flex;
        align-items: center;
        height: 300px; 
    }

    button {
        background-color: #66bb6a;
        color: #ffffff;
        border: none;
        padding: 15px 30px;
        border-radius: 30px;
}

}

footer {
    text-align: center;
    height: 10vh;
    background-color:#66bb6a;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    padding-top: 25px;
}