@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #66bb6a;
  width: 100%;
  height: 20vh;
  padding-left: 70px;
  padding-top: 50px;
}
header h2 {
  background-color: #66BB6A;
  display: inline-block;
  width: 30%;
  color: #ffffff;
}
header nav {
  display: inline-block;
  width: 40%;
  text-align: end;
}
header nav a {
  margin-right: 20px;
  text-decoration: none;
}

.background {
  height: 70vh;
  background-image: url("./assets/backgroundArvore.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding-top: 180px;
}
.background h1 {
  font-size: 5rem;
  margin-bottom: 30px;
  font-family: "Sansita Swashed", system-ui;
}
.background p {
  font-size: 1.5rem;
  width: 50%;
  margin-bottom: 50px;
  margin-left: 450px;
  font-family: "Roboto", sans-serif;
}
.background button {
  background-color: #66bb6a;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1.45rem;
}

.cards {
  background-color: #f1f8e9;
  text-align: center;
  height: 55vh;
}

.card1 {
  background-color: #ffffff;
  width: 20vw;
  height: 50vh;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgb(0, 0, 0.1);
  border-radius: 50px;
  display: inline-block;
}
.card1 img {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}
.card1 h3 {
  margin-top: 10px;
  font-size: 1.75rem;
  font-family: "Bad Script", cursive;
}
.card1 p {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.card1 button {
  margin-top: 30px;
  padding: 10px;
  background-color: #66bb6a;
  color: #ffffff;
  border: none;
  font-size: 1.25rem;
  border-radius: 20px;
}

.card2 {
  background-color: #f7f7f7;
  width: 20vw;
  height: 50vh;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgb(0, 0, 0.1);
  border-radius: 50px;
  display: inline-block;
}
.card2 img {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}
.card2 h3 {
  margin-top: 10px;
  font-size: 1.75rem;
  font-family: "Bad Script", cursive;
}
.card2 p {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.card2 button {
  margin-top: 30px;
  padding: 10px;
  background-color: #66bb6a;
  color: #ffffff;
  border: none;
  font-size: 1.25rem;
  border-radius: 20px;
}

.card3 {
  background-color: #ffffff;
  width: 20vw;
  height: 50vh;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgb(0, 0, 0.1);
  border-radius: 50px;
  display: inline-block;
}
.card3 img {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}
.card3 h3 {
  margin-top: 10px;
  font-size: 1.75rem;
  font-family: "Bad Script", cursive;
}
.card3 p {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.card3 button {
  margin-top: 30px;
  padding: 10px;
  background-color: #66bb6a;
  color: #ffffff;
  border: none;
  font-size: 1.25rem;
  border-radius: 20px;
}

.card4 {
  background-color: #ffffff;
  width: 20vw;
  height: 50vh;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgb(0, 0, 0.1);
  border-radius: 50px;
  display: inline-block;
}
.card4 img {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}
.card4 h3 {
  margin-top: 10px;
  font-size: 1.75rem;
  font-family: "Bad Script", cursive;
}
.card4 p {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.card4 button {
  margin-top: 30px;
  padding: 10px;
  background-color: #66bb6a;
  color: #ffffff;
  border: none;
  font-size: 1.25rem;
  border-radius: 20px;
}

.formulário {
  background-color: #E8F5E9;
  text-align: center;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

footer {
  text-align: center;
  height: 10vh;
  background-color: #66bb6a;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  padding-top: 25px;
}/*# sourceMappingURL=style.css.map */